.progress-bar {
    background-color: #ddd;
    width: 200px;
    position: relative;
    color: white;
    height: 30px;
}

.percentage-bar {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    background-color: #04AA6D;
}

.percentage-text {
    position: relative;
    z-index: 1;
}
